{%- macro infobox(name_telugu, paradigm_telugu, family_telugu, designedBy_telugu, year_telugu, typingDiscipline_telugu, os_telugu, extension, developer_telugu, platform_telugu, license_telugu, influenced_telugu) -%}

{{'{{Infobox programming language'}}
| name = {{name_telugu}}
{%- if year_telugu != 'NaN' -%}
| year = {{year_telugu}}
{%- endif -%}
{%- if family_telugu != 'NaN' -%}
| family = {{family_telugu}}
{%- endif -%}
{%- if designedBy_telugu != 'NaN' -%}
| designer = {{designedBy_telugu}}
{%- endif -%}
# {%- if paradigm_telugu != 'NaN' -%}
# | paradigm = {{paradigm_telugu}}
# {%- endif -%}
{%- if typingDiscipline_telugu != 'NaN' -%}
| typing = {{typingDiscipline_telugu}}
{%- endif -%}
{%- if os_telugu != 'NaN' -%}
| operating system = {{os_telugu}}
{%- endif -%}
{%- if extension != 'NaN' -%}
| file ext = {{extension}}
{%- endif -%}
{%- if developer_telugu != 'NaN' -%}
| developer = {{developer_telugu}}
{%- endif -%}
{%- if platform_telugu != 'NaN' -%}
| platform = {{platform_telugu}}
{%- endif -%}
{%- if license_telugu != 'NaN' -%}
| license = {{license_telugu}}
{%- endif -%}
{%- if influenced_telugu != 'NaN' -%}
| influenced by = {{influenced_telugu}}
{%- endif -%}
{{'}}'}}
{%- endmacro -%}

{%- macro article(name_telugu, paradigm_telugu, family_telugu, designedBy_telugu, year_telugu, typingDiscipline_telugu, os_telugu, extension, developer_telugu, platform_telugu, license_telugu, influenced_telugu) -%}

    {%- if name_telugu!='NaN' -%}
    {{name_telugu}} అనేది ఒక ప్రోగ్రామింగ్ భాష.
    {%- endif -%}
    {%- set year_line=[
                            "ఈ ప్రోగ్రామింగ్ భాష మొదట "+ year_telugu +" లో విడుదల అయ్యింది.",
                            year_telugu+"లో మొదటిగా ఈ ప్రోగ్రామింగ్ భాష విడుదల అయ్యింది."
                        ] | random
        -%}
    {%- if year_telugu!='NaN' -%}
    {{" "}}{{year_line}} 
    {%- endif-%}

    {%- set designer_line=[
                            name_telugu+"నీ "+designedBy_telugu+" అభివృద్ధి చేసారు.",
                            designedBy_telugu+" ఈ భాషని అభివృద్ధి చేసారు."
                            ] | random
    -%}

    {%- if designedBy_telugu!='NaN' -%}
    {{" "}}{{designer_line}} 
    {%- endif-%}

    {%- set developer_line=[
                            name_telugu+" "+developer_telugu+" ద్వారా నిర్వహించబడుతుంది.",
                            developer_telugu + " ఈ భాషని నీ  నిర్వహిస్తున్నారు." 
    ] | random
    -%}

    {%- if developer_telugu!="NaN" -%}
    {{" "}}{{developer_line}}
    {%- endif -%}

    {%- set family_line=[
        "ఈ భాష "+family_telugu+" కుటుంబానికి కి చెందిన భాష.",
        family_telugu+" కుటుంబ భాషలు లో ఇది ఒకటి"
    ] | random 
    -%}

    {%- if family_telugu!='NaN' -%}
    {{" "}}{{family_line}} 
    {%- endif -%}

    {%-set platform_line=[
        "ఇది "+platform_telugu+" ప్లాట్‌ఫామ్‌లలో పనిచేస్తుంది.",
        platform_telugu+" ప్లాటుఫార్మ్స్ లో ఈ భాష పనిచేస్తుంది."
    ] | random 
    -%}

    {%- if platform_telugu!='NaN' -%}
    {{" "}}{{platform_line}} 
    {%- endif -%}

    {%-set os_line=[
        "ఈ భాష "+os_telugu+" ఆపరేటింగ్ సిస్టమ్స్ లో పనిచేస్తుంది.",
        os_telugu+" ఆపరేటింగ్ సిస్టమ్స్ లో "+ name_telugu +" పనిచేస్తుంది."
    ] | random 
    -%}

    {%- if os_telugu!='NaN' -%}
    {{" "}}{{os_line}} 
    {%- endif -%}

    {%- set typing_line=[
        "ఇది "+typingDiscipline_telugu+" టైపింగ్ భాష.",
        "ఈ భాష "+typingDiscipline_telugu+" టైపింగ్ క్రమశిక్షణల్ని అనుసరిస్తుంది."
    ] | random 
    -%}
        
    {%- if typingDiscipline_telugu!='NaN' -%}
    {{" "}}{{typing_line}} 
    {%- endif -%}
    
    {%- set extension_line=
        extension+" ఈ భాష యొక్క ఫైల్ అంత్యాక్షరాలు."
    -%}

    {%- if extension!="NaN" -%}
    {{" "}}{{extension_line}}
    {%- endif -%}

    {%- set influenced_line=[
        "ఈ భాష "+influencedBy_telugu+" ద్వారా ప్రభావితమైంది.",
        influencedBy_telugu	+" భాషలు, ఈ భాషని ప్రభావితం చేసాయి."
    ] | random
    -%}

    {%- if influencedBy_telugu !='NaN' -%}
    {{" "}}{{influenced_line}} 
    {%- endif -%}

    {%- set license_line=
        "ఈ భాష "+license_telugu+" కింద లైసెన్స్ పొందింది."
    -%}    

    {%- if license_telugu!="NaN" -%}
    {{" "}}{{license_line}}
    {%- endif -%}

{%- endmacro -%}

{{- infobox(name_telugu, paradigm_telugu, family_telugu, designedBy_telugu, year_telugu, typingDiscipline_telugu, os_telugu, extension, developer_telugu, platform_telugu, license_telugu, influenced_telugu) -}}
{{- article(name_telugu, paradigm_telugu, family_telugu, designedBy_telugu, year_telugu, typingDiscipline_telugu, os_telugu, extension, developer_telugu, platform_telugu, license_telugu, influenced_telugu ) -}}